#hautdepage {
  margin:auto;
  width:100%; 
  height: 20%; 
}
#corpsdepage {
  margin:auto;
  width:100%; 
  height: 60%; 
}
#corpsdepage table {
  border: none;
}
.date {
  width:30%;
}
.info {
  width:70%;
}
#basdepage {
  margin:auto;
  width:100%; 
  height: 20%; 
}
#global {
  width:100%; 
  height:1024px;
}
body { 
  margin-top : 10%; 
  margin-left : 30%; 
  margin-right : 20%; 
  margin-bottom: 10%;
}
html { 
  margin:0;
  padding:0;
  background: url("fond.png") no-repeat center fixed; 
  -webkit-background-size: cover;
  background-size: cover; 
}
