#hautdepage {width:100%; height: 20%; border:5px solid black;}
#corpsdepage {width:100%; height: 60%; border:5px solid black;}
#basdepage {width:100%; height: 20%; border:5px solid black;}
#global {width:100%; height:1024px;}
body { margin-top : 5%; margin-left : 10%; margin-right : 10%; margin-bottom: 5%; }
