:root {
	--color-main: #0060a0;
	--color-gris: #d0d0d0;
}

/* impression */
@media print {
  body {
    margin: 0% !important;
  }

  #corpsdepage table {
    margin-bottom: 5%  !important;
  }
}
/*---*/

/* page principale */

	/* Entete */
	.bloc_photo {
		display:inline-block;
		vertical-align:top;
	}
	.bloc_titre {
		display:inline-block;
		vertical-align:top;
		line-height:100px;
	}
	.bloc_citation {
		display:inline-block;
		text-align:right;
		margin-left:50%;
		height:20px;
	}
	#entete {
		background-color: var(--color-main);
		padding: 65px;
		border:solid black;
	}

	#citation{
		font-size:25px;
		color:white;
	}


	#entete img {
		width: 150px;
		border-radius:150px;
	}
	#entete h1 {
		color: white;
		font-size: 60px;
	}

	h1 {
	  font-weight: 900;
	}
	/*---*/
	
	/* Menu */
	#menu {
		position: fixed;
		right: 0;
		top: 10px;
		padding: 0 20px;
		background-color: var(--color-gris);
	}

	#menu .triangle {
		box-sizing: border-box;
		display: block;
		position: absolute;
		left: 0;
		height: 100%;
		width: 40px;
		transform: translateX(-100%);
		border-top: 19px solid var(--color-gris);
		border-right: 20px solid var(--color-gris);
		border-bottom: 19px solid transparent;
		border-left: 20px solid transparent;
	}

	#centrage {
		display: flex;

	}

	#centrage a {
		display: block;
		position: relative;
		color: black;
		text-decoration: none;
		font-weight: 700;
		padding: 10px 12px;
	}

	#centrage a .underline {
		position: absolute;
		bottom: 3px;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 3px;
		background-color: var(--color-main);
		transition: 0.3s;
	}
	#centrage a:hover .underline {
		width: 85%;
	}


	#centrage .bouton {
		margin-left: 16px;
	}
	/*---*/
	
	/* Centre d'intérêt */
	.centredinteret_container h2, .cvpdf_container h2 {
		margin: 0;
		padding: 20px;
		width:100%;
		text-align: center;
		background-color: var(--color-gris);
	}
	.hovera {
		height:220px;
		border-bottom: solid 10px;
		border-bottom-color: white;
		align-items: center;
		justify-content: center;
		margin:auto;
		display:flex;
		
	}

	.hovera:hover {
		border-bottom: solid 10px;
		border-bottom-color: var(--color-main);
		
	}

	#lien {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding:30px;
	}

	#lien a {
		flex: 1;
	}

	#lien .img1 {
		width: 200px
	}

	#lien {
		text-align:center;
	}

	#video {
		text-align:center;
	}
	/*---*/
	
	/* CV */
	.cv_container {
		max-width: 1100px;
		margin: auto;
		display:flex;
	}
	
	.cv_container .colonne {
		width: 30px;
		background-color: var(--color-main);
	}

	.cv_container .content {
		box-sizing: border-box;
		padding: 30px;
		line-height: 1.4rem;
	}

	.bloc:hover {
		background-color:#D3D3D3;
	}

	.cv_container .content .bloc {
		margin-bottom: 50px;
	}

	.cv_container .content .bloc #video {
		display: flex;
		margin-top: 20px;
	}

	.cv_container .content .bloc #video .video_container {
		flex: 1;
	}
	
	.video_container {
		border:0;
	}
	.cv_container .titre_cv {
		margin: 0;
		margin-bottom: 26px;
		width: 100%;
		padding-bottom: 6px;
		border-bottom: 1px solid var(--color-main);
		line-height: 2rem;
	}	

	.cvpdf_container {
		margin: auto;
		text-align:center;
	}

	embed {
		width: 65vw;
		height: calc(65vw * 1.42);
		margin:auto;
	}
	/*---*/
	
	/* Structure de page */

	#corpsdepage {
	  margin:auto;
	  width:100%; 
	  /*height: 70%; */
	}

	#global {
	  width:100%; 
	  height:1024px;
	}

	body { 
	  margin: 0;
	  padding: 0;
	  width: 100%;
	}

	html, #global { 
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  font-family: sans-serif;
	}
	* {
		box-sizing: border-box;
	}

	#global, #corpsdepage, .content {
		width: 100%;
	}

	.separateur {
		width: 100%;
		height: 50px;
		background-color: var(--color-main);
	}
	/*---*/
	
	/* Bas de page */
	#basdepage {
		box-sizing: border-box;
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 40px;
		color: white;
		background-color: var(--color-main);
	}

	#basdepage a {
		color: white;
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: 700;
	}
	/*---*/
/*---*/

/* téléphone portable */
@media screen and (min-width: 1500px) {
	embed {
		width: 1000px;
		height: 1420px;
	}
}

@media screen and (max-width: 1000px) {
	#entete {
		padding-top: 80px;
	}

	#centrage a {
		font-size: 0.7rem;
	}

	#menu .triangle {
		border-top: 17px solid var(--color-gris);
		border-bottom: 17px solid transparent;
	}

	embed {
		width: 85vw;
		height: calc(85vw * 1.42);
	}

	#video {
		flex-direction: column;
	}

	#video .video_container {
		margin-bottom: 20px;
	}

	#video iframe {
		width: 100%;
		height: 40vw;
	}

	.colonne {
		display: none;
	}
}
/*---*/