#hautdepage {
  width:100%; 
  height: 20%; 
  border:5px solid black;
}
#corpsdepage {
  width:100%; 
  height: 60%; 
  border:5px solid black;
}
#basdepage {
  width:100%; 
  height: 20%; 
  border:5px solid black;
}
#global {
  width:100%; 
  height:1024px;
}
body { 
  margin-top : 10%; 
  margin-left : 30%; 
  margin-right : 20%; 
  margin-bottom: 10%;
}
html { 
  margin:0;
  padding:0;
  background: url("fond.png") no-repeat center fixed; 
  -webkit-background-size: cover;
  background-size: cover; 
}
